/compiled/
/tmp/
/Latex Vorlage HAK Imst.lol
/Latex Vorlage HAK Ims.synctex.gz
/Latex Vorlage HAK Imst.aux
/Latex Vorlage HAK Imst.lof
/Latex Vorlage HAK Imst.log
/Latex Vorlage HAK Imst.lot
/Latex Vorlage HAK Imst.out
/Latex Vorlage HAK Imst.toc
